table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}


body {
    background-color: #f4dfcef1;
    overflow-y: auto;
}

.text {
    background-color: #8CB9BD;
}

#workout {
    background-color: blanchedalmond;
}