<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
</head>

<body>
    <h1 id="title">健康小學堂</h1>
    <section id="bmi">
        <section class="bmical">
            <h2>BMI 計算</h2>

            <div class="bmidesc">
                <p>
                    世界衛生組織建議以身體質量指數（Body Mass Index, BMI）來衡量肥胖程度，其計算公式是以體重（公斤）除以身高（公尺）的平方。 <br>
                    國民健康署建議我國成人BMI應維持在18.5（kg/㎡）及24（kg/㎡）之間，太瘦、過重或太胖皆有礙健康。<br>
                    研究顯示，體重過重或是肥胖（BMI≧24）為糖尿病、心血管疾病、惡性腫瘤等慢性疾病的主要風險因素； <br>
                    而過瘦的健康問題，則會有營養不良、骨質疏鬆、猝死等健康問題。
                    <a href="https://health99.hpa.gov.tw/bmi">資料來源:https://health99.hpa.gov.tw/bmi</a>
                </p>

            </div>
            <div class="bmiform">
                <form action="" method="POST">
                    <label for="height">身高:</label>
                    <input placeholder="cm" type="number" step="0.1" id="height" name="height" value="{{height}}"><br>
                    <label for="weight">體重:</label>
                    <input placeholder="kg" type="number" step="0.1" id="weight" name="weight" value="{{weight}}"><br>
                    <input type="submit" name="calc" value="計算">
                    <input type="submit" name="clear" value="清除">

                </form>
            </div>
        </section>
        <section class="bmiresult">
            <div class="result">
                {% if not bmi%}
                您的BMI值:
                {% else %}
                您的BMI值:{{bmi}} &rarr; {{message}}
                {% endif %}

            </div>
            <div class="resultdesc">
                <table border="1">
                    <thead>
                        <tr>
                            <th>成人肥胖定義</th>
                            <th>身體質量指數(BMI)(kg/㎡)</th>
                            <th>腰圍(cm)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>體重過輕</td>
                            <td>BMI&lt;18.5</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>健康體位</td>
                            <td>18.5&lt;=BMI&lt;24</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>體位異常</td>
                            <td>
                                過重：24&lt;=BMI&lt;27 <br>
                                輕度肥胖：27 &lt;=BMI &lt; 30 <br>
                                中度肥胖：30 &lt;=BMI &lt; 35 <br>
                                重度肥胖：BMI >=35
                            </td>
                            <td>
                                男性：>= 90 公分 <br>
                                女性：>= 80 公分
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </section>
    </section>
    <section id="food">
        <h2>六大類食物</h2>
        <p>均衡攝取6大類食物，最好再搭配適當的運動，才會讓身體更健康！</p>
        <div id="sixFood" style="width: 600px;height:400px;"></div>

    </section>
    <section id="workout">
        <h2>各項運動消耗熱量參考</h2>
    </section>




    <script src="/static/js/main.js"></script>
</body>

</html>